# Sample configuration file for Sidekiq.
# Options here can still be overridden by cmd line args.
#   sidekiq -C config.yml

:verbose: true
:concurrency:  25
:logfile: ./log/sidekiq.log
:pidfile: ./tmp/pids/sidekiq.pid
:queues:
  - [new_wall, 6]
  - [contact_wall, 7]
  - [email, 5]
  - [gcm_chat, 5]
  - [contact_address, 7]
  - [comment, 7]
  - [default, 5]