<h2>Dear <%=@referrer%></h2>

<p>You have been referred by your phonebook contact <%=@referred_by%> on yelo on a <%=@tag%> post. You can download 'yelo' Android App to check out the post and directly chat with the person who created the post.</p>

<p>Download Now: http://yelo.red</p>

<p>Regards,</p>
<p>Team yelo.</p>